body {
    background-color: #f8f8f8;
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;

}

.navbar {
    margin-top:20px;
    background-color: #f8f8f8; 
    padding: 10px 0;
    padding: 22px 15%;
}

.logo{
    text-decoration: none;
    color: black;
    margin-left: 65px;
}

.cabecalho {
    display: flex;
    justify-content: center; 
    align-items: center;
}

.cabecalho .logo {
    font-size:35px;
    margin-right: auto;
}

.cabecalho .logo span{
    color: blue;
 }

.cabecalho .navlist {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    h
}

.cabecalho .navlist li {
    margin: 0 50px;
}

.cabecalho .navlist li a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

main{
    height: 80vh;
}


.home{
    margin-top:30px;
    margin-left:60px;
    padding: 22px 15%;

}

.homeinicial strong{
    background-color: blue;
    color: white;
    border-radius: 3px;

}

.homeinicial h3{
    font-size: 30px;
    font-weight: 300;
}

.home h1{
    font-size:50px;
    font-weight:300;
    
}

.home p{
    font-size:30px;
    
}

.cv{
    display: flex;
    align-items: center;
}

.btn-cv{
    background-color:#f8f8f8;
    padding:10px;
    border-color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    border-radius:10px;
}

.icon{
    height: 55px;
    padding-top:4px;
    padding-left:10px;
}

.github{
    height: 55px;
    padding-top:4px;
    padding-left:10px;
}
footer{
    text-align: center;
    color:black;   
}

