*{
    margin:0;
    padding: 0;
}


body {
    background: linear-gradient(#D3D3D3,#FFFFFF,#D3D3D3);
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;

}


h1{
    font-size:30px;
    font-weight: 300;
    letter-spacing:5px;
}

span{
    color:blue;
}

a{
    color:black;
    text-decoration:none;
    transition:0.3s;

}


a:hover{
    color: blue;
}

nav{
    margin-top: 15px;
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:8vh;

}


main{
    height: 80vh;

}

.nav-list{
    list-style:none;
    display:flex;
}

.nav-list li{
    font-size: 17px;
    letter-spacing: 4px;
    margin-left:40px
}

.mobile-menu{
    display:none;
    cursor:pointer
}

.mobile-menu div{
    width: 32px;
    height:2px;
    background:black;
    margin:8px;

}

.home{
    margin-top:80px;
    margin-left:60px;
    padding: 22px 15%;

}

.homeinicial strong{
    background-color:blue;
    color: white;
    border-radius: 3px;

}

.homeinicial h3{
    font-size: 30px;
    font-weight: 300;
}

.home h1{
    font-size:50px;
    font-weight:300;
    
}

.home p{
    font-size:30px;
    
}

.cv{
    display: flex;
    align-items: center;
}

.btn-cv{
    cursor: pointer;
    background-color:#f8f8f8;
    padding:10px;
    border-color: blue;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    border-radius:10px;
}

.icon{
    height: 55px;
    padding-top:4px;
    padding-left:10px;
}

.github{
    height: 60px;
    padding-left:10px;
}
footer{
    text-align: center;
    color:black;   
}

